.highscore {
  color: #f90875;
}

html,
body {
  height: 100%;
  background-color: #fff;
}
body {
  color: #333;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

canvas {
  display: inline-block !important;
}

.game-profile {
  margin-top: 5em;
}

label {
  color: black;
  text-shadow: none;
}

.ourTable {
  width: 75%;
}

.btn-us {
  margin: 5px;
  padding: 5px;
}

.panel-title {
  text-shadow: none;
}

.error {
  display: block;
  text-shadow: none;
  color: red;
}

input {
  color: black;
}

.skipButton {
  margin-left: 3px;
}

#profile-dropdown {
  padding: 2px 6px 2px 6px;
  margin-top: 7px;
  background-color: #222;
  border-color: transparent;
}

#profile-dropdown:hover {
  border-color: #1abc9c;
}

/* glyphicon Configuration */

.glyphicon {
	font-size: 30px;
	color: #1abc9c;
}

.glyphicon-user {
    font-size: 25px;
    background-color: #222;
}

.glyphicon .glyphicon-user:hover {
    background-color: #222;
}

.lit {
  background-color: red;
  border-radius: 15%;
}

.notLit {
  background-color: blue;
  border-radius: 15%;
}

.youScore {
  background-color: green;
  border-width: 4px;
  border-color: green;
}

.youFail {
  background-color: red;
  border-width: 4px;
  border-color: red;
}

/* Navbar Configuration*/

.navbar {
  border-color: #1abc9c;
}

.navbar .navbar-brand:hover {
  color: #1abc9c;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #1abc9c;
    background-color: #080808;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #1abc9c;
}

.navbar .dropdown-menu {

}